<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	data-layout-decorator="layout/main">
<head>
<meta charset="UTF-8">
<title>登录页面</title>
</head>
<body  data-layout-fragment="content">
	<h2>欢迎登录</h2>
	<form action="/login/check" method="post">
		<label>请输入用户名：</label><input type="text" name="username"/><br />
		<label>请输入密码：</label><input type="password" name="password" /><br />
		<button type="submit" value="提交"></button>
		<button type="reset" value="重置"></button>
	</form>
</body>
<script>
	document.write("<script type='text/javascript' src='/js/login/login.js?v="+Math.random()+"'></scri"+"pt>");
</script>
</html>